body {
  background-color: #384773;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 10px;
}

.form-check {
  margin-top: 4px;
  font-size: 20px;
}

.card-img-top {
  border-radius: 10px;
}
